$cyan-color: #78bbbb;
$orange-color: #e68966;
$red-color: #d45244;
$dark-grey-color: #4c5057;
$darker-grey-color: #383a3c;
$light-grey-color: #e3e0dd;
$light-grey-shading: #c1bbb5;
$beige-color: #e6e1d0;
$anim-lenght: 2s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $beige-color;

    &.is-hidden {
        display: none;
        
    }
}

.checker-container {
    height: 300px;
    width: 300px;
    position: relative;
}

.ckecker-body {
    height: 100px;
    width: 65px;
    border-radius: 90% 50% 0 0;
    background-color: $dark-grey-color;
    position: absolute;
    top: 60%;
    left: 39%;
}

.face {
    position: absolute;
    top: 50%;
    left: 38%;
    height: 50px;
    width: 50px;
    border-radius: 0 0 40% 45%;
    background-color: $light-grey-color;
    overflow: hidden;
    animation: head-bop $anim-lenght infinite;
}

@keyframes head-bop {
    10% {
        transform: rotate(-20deg);
        top: 52%;
        left: 36%;
    }
    20% {
        transform: rotate(-10deg);
        top: 50%;
        left: 36%;
    }
    35% {
        transform: rotate(-20deg);
        top: 52%;
        left: 36%;
    }
    47% {
        top: 50%;
        left: 38%;
    }

    60% {
        transform: rotate(20deg);
        top: 52%;
        left: 40%;        
    }
    70% {
        transform: rotate(10deg);
        top: 50%;
        left: 40%;
    }
    85% {
        transform: rotate(15deg);
        top: 52%;
        left: 40%;
    }

}

.cheek {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    background-color: $cyan-color;

    &_left {
        top: 56%;
        left: -10%;

    }

    &_right {
        top: 50%;
        right: -10%;
    }
}

.eye {
    height: 15px;
    width: 5px;
    border-radius: 50%;
    background-color: $darker-grey-color;
    position: absolute;
    transform: rotate(-20deg);

    &_left {
        top: 40%;
        left: 27%;
    }

    &_right {
        top: 36%;
        right: 30%;
    }
}

.hat-top {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 50px;
    height: 90px;
    transform: skew(-25deg);
    border-radius: 120% 0 0 0 ;
    background-color: $dark-grey-color;
    transform-origin: bottom center;
    animation: hat-anim $anim-lenght infinite;
}

@keyframes hat-anim {
    0% {
        transform: rotate(0);
    }
    10% {
        left: 34%;
        transform: rotate(-10deg);
    }
    20% {
        left: 35%;
        transform: rotate(-8deg);
    }
    35% {
        left:34%;
        transform: rotate(-9deg);
    }
    47% {
        transform: rotate(0);
    }
    60% {
        left: 42%;
        transform: rotate(12deg);
    }
    70% {
        left: 41%;
        transform: rotate(10deg);
    }
    85% {
        left: 42%;
        transform: rotate(11deg);
    }
    100% {
        transform: rotate(0);
    }
}

.hat-base {
    position: absolute;
    top: 44%;
    left: 18%;
    height: 40px;
    width: 160px;
    border-radius: 50%;
    transform: skew(30%);
    transform: rotate(-10deg);
    background-color: $dark-grey-color;
    animation: head-bop-hat $anim-lenght infinite;
}

@keyframes head-bop-hat {
    10% {
        transform: rotate(-20deg);
        top: 46%;
        left: 16%;
    }
    20% {
        transform: rotate(-10deg);
        top: 44%;
        left: 16%;
    }

    35% {
        transform:rotate(-20deg);
        top: 46%;
        left: 16%;
    }
    47% {
        top: 44%;
        left: 18%;        
    }
    60% {
        transform: rotate(20deg);
        top: 46%;
        left: 20%;
    }
    70% {
        transform: rotate(10deg);
        top: 44%;
        left: 20%;
        height: 35px;        

    }
    85% {
        transform: rotate(20deg);
        top: 46%;
        left: 20%;
    }
}


.bird-container {
    position: absolute;
    height: 50px;
    width: 50px;

    &_first {
        top: 30%;
        left: 17%;
        animation: bird-hop-one $anim-lenght infinite;
    }

    &_second {
        left: 56%;
        top: 30%;
        animation: bird-hop-two $anim-lenght infinite;
    }
}

@keyframes bird-hop-one {
    0% {
        top: 10%;
    }
    52% {
        top: 30%;
    }

    96%, 100% {
        top: 10%;
    }


}

@keyframes bird-hop-two {
    20% {
        top: 15%;
    }
}

.bird-body {
    position: absolute;
    top: 13%;
    left: 30%;
    height: 35px;
    width: 25px;
    background-color: $cyan-color;
    border-radius: 50% 60% 45% 40%;

    &_first {
        animation: bird-shrink_first $anim-lenght infinite;
    }

    &_second {
        background-color: $orange-color;
        animation: bird-shrink_second $anim-lenght infinite;
    }
}

@keyframes bird-shrink_first {
    0% {
        height: 25px;
        width: 35px;
        left: 20%;
    }
    60% {
        height: 35px;
        width: 25px;
        left: 30%;    
    }
    100% {
        height: 25px;
        width: 35px;
        left: 20%;
    }
}

@keyframes bird-shrink_second {
    20% {
        height: 25px;
        width: 35px;
        left: 20%;
    } 
}

.bird-foot {
    height: 11px;
    width: 2.5px;
    border-radius: 20%;
    position: absolute;
    bottom: 0;
    background-color: $darker-grey-color;
    animation: feet-up $anim-lenght infinite;

    &_left {
        left: 44%;
        transform: rotate(-10deg) ;
    }

    &_right {
        left: 58%;
        transform: rotate(4deg) ;
    }
}

@keyframes feet-up {
    60% {
        bottom: 10%; 
    }
}

.bird-eye {
    height: 5px;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    background-color: $darker-grey-color;

    &_left {
        top: 35%;
        left: 40%;

        &_second {
            left: 45%;
        }
    }

    &_right {
        top: 35%;
        left: 50%;

        &_second {
            left: 55%;
        }
    }
}




